.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}


/* secondary header */

.secondary-header {
  height: var(--h--secondary-header);
  background-color: var(--c-primary);
}

.menu-link,
.social-link {
  display: inline-block;
  font-size: 14px;
  color: var(--c-white);
}

/* end of secondary header */

/* primary header */

.primary-header {
  height: var(--h--primary-header);
  background-color: var(--c-white);
}


.mobile-site-name {
  font-size: 30px;
  font-weight: bolder;
  color: var(--c-white);
}

.nav-logo {
  display: none;
}

.main-nav-list {
  display: flex;
  gap: 25px;
}

.nav-list {
  position: relative;
  transition: all 1s ease-in;
}

.nav-link {
  font-size: 17px;
  font-weight: 400;
  color: var(--c-black);
  padding: 5px;
  transition: all 0.3s;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30%;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #90c3fd, #ff71b8);
    transform: scale(0);
    border-radius: var(--br-sm);
    transition: all 0.3s;
  }

  /* &[ari-menu="true"]::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -15px;
    border: 6px solid;
    border-color: var(--c-primary) transparent transparent;
    
  } */

  &:hover::before {
    transform: scale(1);
  }

}

.fa-caret-down {
  color: var(--c-primary);
}

.nav-list:hover .fa-caret-down {
  transform: rotate(180deg);
}

/* hover-menu */
.submenu-lists {
  position: absolute;
  top: 55px;
  left: 0;
  width: 200px;
  background-color: var(--c-white);
  transform: translateY(-30px);
  transition: all 0.5s;
  border-radius: var(--br-sm);
  box-shadow: 0 0 20px var(--c-shadow-gray);
  visibility: hidden;
  opacity: 0;
}

.submenu-link {
  display: inline-block;
  padding: 10px 15px;
  font-size: 17px;
  color: var(--c-grey);
  border-radius: var(--br-sm);
}

.nav-list:hover .submenu-lists {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.submenu-list:hover {
  color: var(--c-white);
  background-color: var(--c-primary);
  border-radius: var(--br-sm);
}

/* Sticky header */

.sticky {
  background-color: var(--c-secondary);
  animation: slide-in 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.sticky .nav-logo {
  display: block;
}

.sticky .initial-logo {
  display: none;
}



@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);

  }
}

.sticky .nav-link,
.sticky .icon-menu {
  color: var(--c-white);
}

.sticky .nav-link::after {
  border-color: var(--c-white) transparent transparent;
  color: var(--c-white);
}

/* end sticky header */



/* Mobile Navigation -  */

.btn-menu {
  display: none;
  border: none;
  outline: none;
  color: var(--c-white);
  background-color: inherit;
}

.icon-menu {
  font-size: 26px;
}

.icon-menu[name="close-outline"] {
  display: none;
}

/* end of primary header   */